src/main/mule/mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1405c947-d283-45a8-b213-298c443c4a2b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule4Flow" doc:id="cb3b2660-f075-4d9e-bcc2-c8d65d8c59f2" >
		<http:listener doc:name="Listener" doc:id="2bc6d120-cf49-44de-b844-00c93a34b4b8" config-ref="HTTP_Listener_config" path="/base"/>
		<ee:transform doc:name="Transform Message" doc:id="ebe6ddfd-8d75-4be9-8c4c-dd465c5e29ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

"Message Receive Successfully"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="be4182ad-d434-47c1-b388-9dfcd081eeb5" message="#[payload]"/>
	</flow>
</mule>
